<div class="mainPanel">
    <div class="infoPanel">
        <h3>Име на книгата: <br>
            {{bookCollection[index].bookTitle}}</h3>
        <h3>Описание на книгата: <br>
            {{bookCollection[index].bookDescription}}</h3>
        <h3>Автор на книгата: <br>
            {{bookCollection[index].bookAuthor}}</h3>
        <h3>Рейтинг на книгата: {{bookCollection[index].averageRating.toFixed(1)}}</h3>
    </div>
    <div class="inputPanel">
        <input [(ngModel)]="modelTitle" type="text" placeholder="Име на книгата">
        <input [(ngModel)]="modelDescription" type="text" placeholder="Описание на книгата">
        <input [(ngModel)]="modelAuthor" type="text" placeholder="Автор на книгата">
    </div>
    <div class="ratingPanel">
        <button (click)="calculateRating(1)" class="button">1</button>
        <button (click)="calculateRating(2)" class="button">2</button>
        <button (click)="calculateRating(3)" class="button">3</button>
        <button (click)="calculateRating(4)" class="button">4</button>
        <button (click)="calculateRating(5)" class="button">5</button>
    </div>
</div>